<div class="font-serif text-amber-50 bg-slate-950 pt-30 pl-10 pr-10 pb-10">
    <div class="flex flex-col">
        <p class="text-4xl text-rose-600">Transform Your Daily Routine with Audio Diary – Your Personal Voice Journal</p>    
        <div class="grid grid-cols-3 gap-1 mt-10 gap-9">
            <div class="col"><img src="/SS.jpg"></div>
            <div class="text-2xl col-span-2 hidden-slide" id="textContainer">
                Ever wished you could effortlessly document your days without typing a single word? 
                <br/>
                With Audio Diary, you can! Just hit record, speak your mind, and let the app do the rest.
                <br/>
                <br/>
                <ul>
                    <li><span class="text-rose-600 font-bold">Capture Every Moment:</span> From morning reflections to evening thoughts, Audio Diary lets you record voice entries throughout the day. Every entry is instantly transcribed into text and organized chronologically, so you never miss a detail.</li>
                    <li><span class="text-rose-600 font-bold">Stay on Track:</span> Monitor your activities with the Daily Tracker, designed to help you log key moments, set reminders, and identify recurring patterns in your routine. It’s like having a personal assistant that keeps tabs on your day-to-day life.</li>
                    <li><span class="text-rose-600 font-bold">Automatic Transcription:</span> Say goodbye to typing. Our powerful speech-to-text engine converts your spoken words into neatly formatted text entries. It’s fast, accurate, and works even in noisy surroundings.</li>
                    <li><span class="text-rose-600 font-bold">Monthly Insights:</span> At the end of each month, get a comprehensive overview of your journey – from major milestones to subtle mood shifts. Discover trends, revisit memorable days, and gain deeper insights into your habits.</li>
                </ul>
                <br/>
                Why wait? <span class="cursor-pointer underline hover:text-rose-600">Start</span> turning your daily moments into meaningful memories with Audio Diary – Your Voice, Your Story.
            </div>
        </div>
    </div>
</div>
