<div class="flex flex-row pt-10 font-serif pb-10 bg-slate-950 text-amber-50">
    <p class="text-5xl ml-10 hover:text-rose-600 cursor-pointer" href="">Audio Diary</p>
    <div class="text-3xl mt-3 mr-10" style="margin-left: auto;">
        <a [routerLink]="['/home']" fragment="home" class="ml-5 mr-5 hover:text-rose-600">Home</a>
        <a [routerLink]="['/home']" fragment="about" class="mr-5 hover:text-rose-600">About</a>
        <a [routerLink]="['/home']" fragment="contact" class="mr-5 hover:text-rose-600">Contact</a>
        <a href="" class="mr-5 hover:text-rose-600">Login</a>
    </div>
</div>