<div class="font-serif text-amber-50">
    <div class="relative w-full h-screen flex items-center justify-center">
    <img src="/74859-journal.jpg" alt="Background" class="absolute inset-0 w-full h-full object-cover -z-10">
    <div class="relative flex items-center justify-center w-4/5 max-w-8xl mx-auto space-x-20">
        <button class="cursor-pointer bg-amber-50 rounded-lg p-3 text-3xl text-slate-950 transition delay-100 duration-200 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-rose-600" (click)="hi()">
            Get Started
        </button>
        <div class="flex flex-col items-start space-y-4 max-w-2xl hidden-slide" id="textContainer">
            <h1 class="text-rose-600 text-5xl font-bold">Audio Diary</h1>
            <p class="italic text-lg">
                Effortlessly capture your daily activities by recording voice entries that are automatically transcribed into text and organized chronologically like a personal journal.
                <br/> 
                <span class="underline font-bold text-rose-600">Features include:</span>
                <br/>
                1. Daily tracker
                <br/>
                2. Automatic text transcription
                <br/>
                3. Comprehensive monthly overview, providing insights and reflections on patterns, moods, and milestones throughout the month.
            </p>
        </div>
    </div>
    </div>
</div>
